!!!
%html
    %head
        %script(src="/scripts/angular.js")
        %script(src="/scripts/autocomplete.js")
        %script(src="/scripts/home.js")
        :css
            .ac-items{
            background-color: #F6F3F3;
            color: #A3A3A3;
            }
            .ac-item{
                border-bottom: 1px;
                border-bottom-style: solid;
            }
            .listing{


    %body{:"ng-app"=>"mp3Reader", :"ng-controller"=>"homeCtrl"}
        %script{:type=>"text/ng-template", :id=>"albumList.html"}
            <div><strong>{{item.title}}</strong></div>
            <div>by {{item.artist}}</div>
        %div
            %ng-autocomplete{:'on-select'=>'clicked', :class=>"listing" ,:'advanced-display'=>"albumList.html", :'retrieval-method'=>"getFiles", :'max-results'=>"15", :'min-length'=>"3"}
            %div
                %div
                    Now playing: {{selected[0].title}} by {{ selected[0].artist }}
                %div 
                    Upcoming:
                    %div{:'ng-repeat'=>"item in selected", :'ng-if'=>"$index !== 0"}
                        {{item.title}} by {{item.artist}}
            %audio{:id=>'audio', :controls => true, :'ng-audio' => true}
                %source{:src=>"{{ currently_playing }}"}
                Your browser does not support the audio element.
